<%= form_with(model: chapter) do |form| %>
  <% if chapter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chapter.errors.count, "error") %> لم تتم إضافه هذه الدوره !!!</h2>
      <ul>
        <% chapter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
