<h1>دورات</h1>
<div id="chapters">
  <% @chapters.each do |chapter| %>
    <div class='border border-success my-3 p-3'>
      <%= render chapter %>
      <div>
        <%= button_to "حذف هذه الدورة", chapter, method: :delete, form: { data: { turbo_confirm: "هل أنت متأكد إنك تريد حذف هذا الجزء ؟" } }, method: :delete %>
        <%= link_to "تعديل هذا الدورة", edit_chapter_path(chapter) %> | <%= link_to "الدروس", chapter_lessons_path(chapter) %>
      </div>
    </div>
  <% end%>
</div>
<%= link_to " إضافة دورة جديدة", new_chapter_path %>
